.w-20 {
  width: 20%;
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
  color: #fff;
  text-align: center;
}

.user-profile-info {
  display: flex;
  gap: 10px;
  color: #fff;
  align-items: center;
}

.profile-img img {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.user-profile-info img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.user-profile-info p {
  margin: 0;
}

.user-profile-info button {
  background-color: transparent;
  color: #fff;
}

.reels_title p {
  color: #fff;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
}

.reels-footer-left {
  position: absolute;
  bottom: 0;
  padding: 8px;
  width: calc(100% - 45px);
}

.reels-footer-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45px;
  padding-bottom: 5px;
}

.reels-action {
  cursor: pointer;
  text-align: center;
}

.follow {
  border: 1px solid #fff;
  padding: 1px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.songs {
  color: #fff;
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  gap: 12px;
}

.songs marquee {
  width: calc(100% - 45px);
}

.reels-footer {
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .reels-footer {
    bottom: 60px;
  }
}
